/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/
:root {
    --colour-background: #e53535;
    --colour-frame: #114B5F;
}
/*---------------------------------------/*
 # GENERIC
/*---------------------------------------*/

/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/
body {
  background-color: var(--colour-background);
}
/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/
.o-container{
margin-top: 2rem;
}

/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/
.c-instructions {
  border: groove 1rem var(--colour-frame);
  margin-top: 1rem;
}
.c-instructions__header {
  text-align: center;
}
.c-input__title{
    font-weight: bold;
}
.c-output {
  padding: 2rem;
}

/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/
